@include media-breakpoint-up(xs) {
  html {
    // font-size: 0.7rem;
  }
  #casinosMenu {
    background-color: $secondary;
  }
  .casino-jumbotron h2 {
    @extend .pl-1;
    font-size: 1.61rem;
    font-weight: bolder;
  }
  .casino-description p {
    font-size: 0.95rem;
    line-height: 1.3rem !important;
  }
  .nav-container {
    left: 0;
  }
}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {

  #casinosMenu {
    background-color: $primary;
  }
  .form-control {
    background-color: white;
    color: $secondary-dark;
  }

  .form-control::placeholder {
    color: $secondary;
  }

  html {
    // font-size: 0.7rem;
  }
  .casino-jumbotron h2 {
    margin-left: 5vw;
    font-size: 2.51rem;
    font-weight: bolder;
  }
  .casino-description p {
    font-size: 1rem;
    line-height: 1.8rem !important;
  }
  .nav-container {
    left: 30vw;
  }
}

@include media-breakpoint-up(lg) {
  html {
    // font-size: 0.7rem;
  }
  .casino-jumbotron h2 {
    margin-left: 3vw;
    font-size: 3em;
  }
  .nav-container {
    left: 60vw;
  }
}

@include media-breakpoint-up(xl) {

}

@media (min-width: 576px) {
  .w-sm-100 {
    width: 100% !important;
  }
  .w-sm-80 {
    width: 80% !important;
  }
  .w-sm-75 {
    width: 75% !important;
  }
  .w-sm-60 {
    width: 60% !important;
  }
  .w-sm-50 {
    width: 50% !important;
  }
  .w-sm-40 {
    width: 40% !important;
  }
  .w-sm-25 {
    width: 25% !important;
  }
  .w-sm-20 {
    width: 20% !important;
  }
}

@media (min-width: 768px) {
  .w-md-100 {
    width: 100% !important;
  }
  .w-md-80 {
    width: 80% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
  .w-md-60 {
    width: 60% !important;
  }
  .w-md-50 {
    width: 50% !important;
  }
  .w-md-40 {
    width: 40% !important;
  }
  .w-md-25 {
    width: 25% !important;
  }
  .w-md-20 {
    width: 20% !important;
  }
}

@media (min-width: 992px) {
  .w-lg-100 {
    width: 100% !important;
  }
  .w-lg-80 {
    width: 80% !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .w-lg-60 {
    width: 60% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .w-lg-40 {
    width: 40% !important;
  }
  .w-lg-25 {
    width: 25% !important;
  }
  .w-lg-20 {
    width: 20% !important;
  }
}

@media (min-width: 1200px) {
  .w-xl-100 {
    width: 100% !important;
  }
  .w-xl-80 {
    width: 80% !important;
  }
  .w-xl-75 {
    width: 75% !important;
  }
  .w-xl-60 {
    width: 60% !important;
  }
  .w-xl-50 {
    width: 50% !important;
  }
  .w-xl-40 {
    width: 40% !important;
  }
  .w-xl-25 {
    width: 25% !important;
  }
  .w-xl-20 {
    width: 20% !important;
  }
}

.w-100 {
  width: 100% !important;
}

.w-80 {
  width: 80% !important;
}

.w-75 {
  width: 75% !important;
}

.w-60 {
  width: 60% !important;
}

.w-50 {
  width: 50% !important;
}

.w-40 {
  width: 40% !important;
}

.w-25 {
  width: 25% !important;
}

.w-20 {
  width: 20% !important;
}


header {
  position: relative;
}

#casinoContainer {
  background-color: $primary;
  margin-top: 63px;
  .breadcrumb li, .breadcrumb a{
    color: $primary-light;
  }
  .breadcrumb-item+.breadcrumb-item::before {
    color: $primary-light;
  }

}

#casinosNavigation {
  max-width: 1024px; left: auto; right: auto;
}

#casinosNavigationHidden {
  box-shadow: -10px 0px 10px 1px rgba(0,0,0,0.2);
}

#searchButton {
  padding: 0 .75rem!important;
}

#menu-accordion {
  .nav-item {
    .nav-link {
      padding-left: 1em;
      padding-right: 1em;
      &:after {
        position: absolute;
        margin-top: 0.3em;
        content: '﹀';
        right: 2em;
      }
      &[aria-expanded="true"] {
        background-color: $primary-light;
        &:after {
          position: absolute;
          content: '︿';
          margin-top: -0.3em;
          right: 2em;
        }
      }
    }
    & .navbar-nav {
      .nav-link {
        font-weight: normal;
      }
      .nav-link:after{
        content: '';
      }
      .nav-item {
        border-top: 1px solid rgba(255,255,255,.1);
      }
    }
  }
}

.nav-overlay {
  position: fixed;
  z-index: 1031;
  left: 0; right: 0; top:0; bottom: 0;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}

.nav-container {
  position: fixed;
  z-index: 1031;
  top:0;
  bottom:0;
  right: 0;
}

.navbar-nav {
  .nav-item {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    .nav-link {
      font-weight: bold;
      font-size: 1.15rem;
      line-height: 2.5rem;
      color: $white;
    }
  }
}

.navbar-collapse.show {
  height: 100vh;
}


#collapseMenu {
  .navbar {
    background-color: $primary-accent;
  }
}

.casino-jumbotron {
  font-family: 'Montserrat', sans-serif;
  width: auto;
  background: url('../assets/images/banners/casino_header_banner.png') no-repeat top right;
  background-size: auto 100%;
  background-color: $secondary;

  &.bann {
    background: url('../assets/images/banners/casino_bann_leovegas.png') no-repeat top right;
    background-size: cover;
  }
}

#casinosMenu{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  border-bottom: 2px solid $primary-accent;
}

.temp-font2 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.casino-wrapper {
  display: flex;
  flex-direction: column;
  > .row {
    &__A {
      order: 2;

    }
    &__B {
      order: 1;
    }
  }
  @media only screen and (max-width: 583px) {
    display: flex;
    flex-direction: column;
    > .row {
      &__A {
        order: 1;

      }
      &__B {
        order: 2;
      }
    }
  }
}

.casino-btn-pill {
  @extend .media, .align-items-center;

  border-radius: 666px;
  text-decoration: none !important;
  p {
    text-transform: uppercase;
    color: $white;
  }
  img {
    box-sizing: content-box;
    border: 2px solid $white;
    border-radius: 666px;
  }
  &.active {
    background-color: $primary-accent;
  }
}

img.info {
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 1em;
}

#casinosList {
  > li:nth-child(even) {
    background: $primary-lighter;
  }
}

.casino-list-filter {
  background-color: $secondary;
}

.casino-list-stats {
  transition: .4s;
  line-height: 1.9em;
  font-weight: bold;
  letter-spacing: 0.05rem;
  background-color: $secondary;
  ul {
    list-style: none;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    li span {
      font-size: 1.6rem;
      color: $link-color;
      padding-right: 1.5rem;
    }
  }
  &.light {
    background-color: $bg-light;
    color: $primary;
    ul li span {
      color: $light;
    }
  }
}

.casino-list-info {
  color: $primary-light;
  b {
    color: $white;
  }
  table {
    margin-bottom: 0;
    td {
      border: none;
      padding: .5rem 1rem .5rem 0;
    }
  }
}

.casino-list-item {
  @extend .media, .row,.align-items-center, .py-2;

  background: $primary;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: $bg-light;
    font-size: small;
    li h1, h2, h3, h4, h5, h6 {
      color: $white;
      font-weight: 900;
    }
  }
  a {
    color: $link-color;
    text-decoration: none;
  }
  .link-play {
    font-weight: bold;
    font-size: large;
  }
}

.casino-list-item-latest {
  @extend .casino-list-item, .py-4;

  background: $secondary;
  align-items: inherit!important;

  border-bottom: none;
  ul li {
    display: inherit;
  }
}

.casino-description.light {
  @extend .bg-light;

  transition: .4s;
  p {
    @extend .text-justify;
    line-height: 1.9rem;
    color: $primary-accent;
  }
  .temp-font2 {
    color: $primary;
  }
}

.casino-description.dark {
  transition: .4s;
  p {
    @extend .text-justify;
    line-height: 1.9rem;
    color: $bg-light;
  }
  .temp-font2 {
    color: $light;
  }
}

.theme-switcher {
  .switch input {
    display: none;
  }
  .switch {
    display: inline-block;
    width: 60px;
    height: 30px;
    transform: translateY(50%);
    position: relative;
  }

  .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px $secondary, 0 0 4px $secondary;
    cursor: pointer;
    border: 4px solid transparent;
    overflow: hidden;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: $secondary;
    border-radius: 30px;
    transform: translateX(-30px);
    transition: .4s;
  }

  input:checked + .slider:before {
    transform: translateX(30px);
    background: $link-color;
  }

  input:checked + .slider {
    box-shadow: 0 0 0 2px $link-color, 0 0 2px $link-color;
  }
}

@mixin perkel($w: 10px, $h: 10px, $ml: 0px, $mr: 0px) {
  content: '';
  display: inline-block;
  background-size: cover;
  background-position: center;
  left: 0;
  width: $w;
  height: $h;
  margin-left: $ml;
  margin-right: $mr;
}

.perk-rate:before {
  @include perkel(80px, 13px, 0px, 0px);
  background-image: url('../assets/images/icons/casino-perk-rate.svg');
}

