// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// Some example variables that you can uncomment:

// Enabling shadows and gradients
//$enable-shadows: true;
//$enable-gradients: true;


// Changing the border radius of buttons
$border-radius: 20px;

// Changing the theme colors
$primary: #001C8C;
$primary-lighter: #002095;
$primary-accent: #0A38B1;
$primary-light: #477BC6;
$secondary: #00056F;
$secondary-dark: #000d40;
$bg-light: #BBCCF2;

//$success: #2bc550;
//$info: #495dff;
//$warning: #ef8143;
//$danger: #ff293a;
//$light: #dfe6ee;
//$dark: #0f1319;

// Changing the body background and text
$body-bg: $primary;
$body-color: #ffffff;
$link-color: #E5C355;

// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
//$theme-colors: (
//  "cool": #4d3fa3
//);
$input-bg: rgba(255,255,255, .1);
$input-border-color: rgba(255,255,255, .1);
$input-font-size: 13px;
$input-color: #ffffff;
$input-placeholder-color:rgba(255,255,255, .5);

$theme-colors: (
        "btn-default": #E5C353,
        "accent": #E5C355
)
