@font-face {
  font-family: 'material_icons';
  src:  url('../assets/fonts/material_icons.eot?u8uncm');
  src:  url('../assets/fonts/material_icons.eot?u8uncm#iefix') format('embedded-opentype'),
  url('../assets/fonts/material_icons.ttf?u8uncm') format('truetype'),
  url('../assets/fonts/material_icons.woff?u8uncm') format('woff'),
  url('../assets/fonts/material_icons.svg?u8uncm#material_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'material_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.2;
  font-size: 1.7rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e903";
}
.icon-keyboard_arrow_up:before {
  content: "\e904";
}
.icon-keyboard_arrow_right:before {
  content: "\e905";
}
.icon-keyboard_arrow_left:before {
  content: "\e906";
}
.icon-keyboard_arrow_down:before {
  content: "\e907";
}
.icon-star_half:before {
  content: "\e908";
}
.icon-star:before {
  content: "\e909";
}
.icon-person_outline:before {
  content: "\e900";
}
.icon-search {
  &:before {
    content: "\e901";
  }
  margin-top: 5px;
}
.icon-close:before {
  content: "\e902";
}
