@mixin c-svg-icn($url:'', $w: 1em, $h: 1em) {
  background: url($url) no-repeat!important;
  height: $w;
  width: $h;
}

.casino-icon {
  height: 1em;
  width: 1em;
  display: inline-block;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;

  &.list-info {
    @include c-svg-icn("../assets/images/icons/casino-list-info.svg", 1.5em, 1.5em);
    vertical-align: bottom;
  }
  &.list-new {
    @include c-svg-icn("../assets/images/icons/casino-tag-new.svg", 1.5em, 1.5em);
    margin-bottom: 0.5rem;
  }
  &.list-hot {
    @include c-svg-icn("../assets/images/icons/casino-tag-hot.svg", 1.5em, 1.5em);
    margin-bottom: 0.5rem;
  }
  &.list-1st {
    @include c-svg-icn("../assets/images/icons/casino-perk-1st.svg", 1.5em, 1.5em);
  }
  &.list-add {
    @include c-svg-icn("../assets/images/icons/casino-perk-add.svg", 1.5em, 1.5em);
  }
}
