body{
  max-width: 1024px!important;
  margin: 0 auto !important;
  float: none !important;
  font-family: 'News Cycle', sans-serif !important;
  background-color: #0231b3!important;
}

html {
  font-size: 1rem;
}

@import 'custom-variables';
@import "icons-style";
@import '../node_modules/bootstrap/scss/bootstrap';
@import "icons";
@import 'custom-styles';
